@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-image: url("https://i.imgur.com/TxSe1o6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
/* Name Analysis - Heading */
h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 3%;
  padding-bottom: 4%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.5);
}

div.container {
  display: grid;
  width: 68rem;
  height: 23rem;
  margin-left: 0%;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 2.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left-half {
  grid-column: 1;
  width: 33.5rem;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.right-half {
  grid-column: 2;
  width: 34.55rem;
  height: 101%;
  margin: -1px 0px auto;
  background-color: rgba(93, 26, 200, 0.75);
  border: 1px solid rgba(163, 106, 255, 0.55);
  border-radius: 0 2.5rem 2.5rem 0;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* ELEMENTS STYLE */

/* Enter Name - Heading */
h2 {
  font-family: inherit;
  font-weight: 800;
  font-size: 1.25rem;
  color: #8f73ae;
  text-align: center;
  letter-spacing: 1rem;
  text-transform: uppercase;
  padding-top: 10%;
}

/* Name Input Field*/
div.input_refresh {
  display: block;
  position: relative;
}

.nameInput {
  display: inline-block;
  position: relative;
  font-family: inherit;
  font-size: 2.75rem;
  background: rgba(105, 105, 105, 0.35);
  border: 1px solid rgb(255, 255, 255, 0.65);
  color: rgb(255, 255, 255);
  border-radius: 1.5rem;
  outline: none;
  width: 26.25rem;
  height: 9rem;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
}

/* Refresh Button */
.btn-1 {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  padding: 0.2rem 0.3rem;
  margin-left: -4.5%;
  margin-top: 14%;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(116, 76, 214);
  cursor: pointer;
}

.btn-1:hover {
  background-color: rgb(97, 64, 180);
}

.btn-1:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.material-icons.md-36 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding-top: 5%;
  align-self: left;
}

.material-icons.md-36:active {
  color: rgb(102, 245, 255);
}

/* Click / Analyze Button */
.btn-2 {
  top: 67%;
  border: none;
  box-shadow: none;
  background: none;
  width: 10.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  perspective: 230px;
}

.btn-2 span {
  background: linear-gradient(0deg, rgb(86, 25, 185) 0%, rgb(130, 67, 231) 100%);
  display: block;
  position: absolute;
  border: none;
  width: 10.5rem;
  height: 3.5rem;
  box-shadow: inset 0px 2px 2px 0px rgba(184, 250, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.95rem;
  box-sizing: border-box;
  transition: all .2s ease;
}

.btn-2 span:nth-child(1) {
  box-shadow: inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, .1),
    2px 2px 3px 0px rgba(0, 0, 0, .1);
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.btn-2 span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.btn-2:hover span:nth-child(1) {
  box-shadow: inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, .1),
    2px 2px 3px 0px rgba(0, 0, 0, .1);
  transform: rotateX(0deg);
}

.btn-2:hover span:nth-child(2) {
  box-shadow: inset 0px 2px 2px 0px rgba(184, 250, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  transform: rotateX(-80deg);
}

.btn-2:active span:nth-child(1) {
  background: linear-gradient(0deg, rgb(86, 25, 185) 0%, rgb(108, 55, 192) 100%);
  box-shadow: -4px -4px 6px 0 rgba(116, 125, 136, 0.2);
}

.btn-2:active {
  color: rgb(102, 245, 255);
}

/* Name Analysis Results - Right Title*/
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.35);
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  text-align: center;
  align-self: center;
  margin-top: 8%;
  margin-bottom: 12%;
  height: 12.5%;
}

/* Divider*/
hr.solid {
  border-top: 1px solid rgb(96, 30, 218);
  border-bottom-color: rgb(179, 244, 255);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5%;
}

/* Number of characters, All characters */
p {
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.75rem;
}

.label-number-of-characters {
  text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
  margin-top: 7%;
  margin-bottom: 3%;
}

.all-characters {
  text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
  overflow-wrap: break-word;
}

/* /////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 1200px) {
  h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-top: 3%;
    margin-bottom: 2%;
    /* margin-left: -2.5%; */

  }

  div.container {
    display: grid;
    width: 60rem;
    height: 20.25rem;
    /* margin-left: -2.5%; */
  }

  .left-half {
    grid-column: 1;
    width: 29.5rem;
    flex-direction: column;
    align-items: center;
  }

  .right-half {
    grid-column: 2;
    width: 30.55rem;
    height: 101%;
    /* margin: -1px 0px auto; */
    /* border: 1px solid rgba(163, 106, 255, 0.55); */
    /* border-radius: 0 2.5rem 2.5rem 0; */
  }

  h2 {
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1rem;
  }

  .nameInput {
    font-size: 2.5rem;
    border: 1px solid rgb(255, 255, 255, 0.65);
    border-radius: 1.5rem;
    width: 23.15rem;
    height: 7.95rem;
    margin-top: 5%;
  }

  .btn-1 {
    padding: 0.2rem 0.3rem;
    /* margin-left: -1.75%;
    margin-top: 5.5%; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .btn-1:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  }

  .material-icons.md-36 {
    font-size: 2rem;
  }

  .btn-2 {
    top: 67%;
    width: 9.5rem;
    height: 3.15rem;
    line-height: 3rem;
    font-weight: 800;
    font-size: 1.4rem;
    margin: 0;
    letter-spacing: 0.2rem;
  }

  .btn-2 span {
    width: 9.5rem;
    height: 3.15rem;
    /* box-shadow: inset 0px 2px 2px 0px rgba(184, 250, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
    border-radius: 0.95rem;
  }

  .btn-2 span:nth-child(1) {
    /* box-shadow:inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0,0,0,.1),
      2px 2px 3px 0px rgba(0,0,0,.1); */
    transform: rotateX(90deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2 span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2:hover span:nth-child(1) {
    /* box-shadow:inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0,0,0,.1),
      2px 2px 3px 0px rgba(0,0,0,.1); */
    transform: rotateX(0deg);
  }

  .btn-2:hover span:nth-child(2) {
    /* box-shadow:inset 0px 2px 2px 0px rgba(184, 250, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
    transform: rotateX(-80deg);
  }

  .btn-2:active span:nth-child(1) {
    box-shadow: -4px -4px 6px 0 rgba(116, 125, 136, 0.2);
  }

  .title {
    font-size: 1.65rem;
    letter-spacing: 0.1rem;
    line-height: 2.15rem;
    height: 10%;
  }

  hr.solid {
    margin-top: 12.5%;
  }

  p {
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.085rem;
    line-height: 1.65rem;
  }

  .label-number-of-characters {
    text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
    margin-top: 6%;
    margin-bottom: 3%;
  }

  .all-characters {
    text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
  }
}

/* /////////////////////////////////////////////////// */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;

  }

  div.container {
    display: grid;
    width: 45rem;
    height: 15.25rem;
    border-radius: 2rem;
  }

  .left-half {
    grid-column: 1;
    width: 22rem;
    flex-direction: column;
    align-items: center;
  }

  .right-half {
    grid-column: 2;
    width: 23.05rem;
    height: 101%;
    /* margin: -1px 0px auto; */
    /* border: 1px solid rgba(163, 106, 255, 0.55); */
    border-radius: 0 2rem 2rem 0;
  }

  h2 {
    font-size: 1.05rem;
    letter-spacing: 0.75rem;
    padding-top: 9.5%;
  }

  .nameInput {
    font-size: 2rem;
    border: 1px solid rgb(255, 255, 255, 0.65);
    border-radius: 1.25rem;
    width: 17.75rem;
    height: 6rem;
    margin-top: 5%;
  }

  .btn-1 {
    padding: 0.2rem 0.3rem;
    margin-left: -5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .btn-1:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  }

  .material-icons.md-36 {
    font-size: 1.5rem;
  }

  .btn-2 {
    top: 67%;
    width: 8.75rem;
    height: 2.75rem;
    line-height: 2.7rem;
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0;
    margin-top: -1.5%;
    letter-spacing: 0.2rem;
  }

  .btn-2 span {
    width: 8.75rem;
    height: 2.75rem;
    /* box-shadow: inset 0px 2px 2px 0px rgba(184, 250, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
    border-radius: 0.75rem;
  }

  .btn-2 span:nth-child(1) {
    /* box-shadow:inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0,0,0,.1),
      2px 2px 3px 0px rgba(0,0,0,.1); */
    transform: rotateX(90deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2 span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2:hover span:nth-child(1) {
    /* box-shadow:inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0,0,0,.1),
      2px 2px 3px 0px rgba(0,0,0,.1); */
    transform: rotateX(0deg);
  }

  .btn-2:hover span:nth-child(2) {
    /* box-shadow:inset 0px 2px 2px 0px rgba(184, 250, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1); */
    transform: rotateX(-80deg);
  }

  .btn-2:active span:nth-child(1) {
    box-shadow: -4px -4px 6px 0 rgba(116, 125, 136, 0.2);
  }

  .title {
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    height: 10%;
  }

  hr.solid {
    margin-top: 13.5%;
  }

  p {
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.055rem;
    line-height: 1.25rem;
  }

  .label-number-of-characters {
    text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
    margin-top: 6%;
    margin-bottom: 3%;
  }

  .all-characters {
    text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
  }
}

/* /////////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  div.container {
    display: grid;
    width: 35rem;
    height: 12rem;
    border-radius: 1.5rem;
  }

  .left-half {
    grid-column: 1;
    width: 17rem;
    flex-direction: column;
    align-items: center;
  }

  .right-half {
    grid-column: 2;
    width: 18.05rem;
    height: 101%;
    /* margin: -1px 0px auto; */
    /* border: 1px solid rgba(163, 106, 255, 0.55); */
    border-radius: 0 1.5rem 1.5rem 0;
  }

  h2 {
    font-size: 0.85rem;
    letter-spacing: 0.5rem;
    padding-top: 9.5%;
  }

  .nameInput {
    font-size: 1.55rem;
    border-radius: 1rem;
    width: 13.8rem;
    height: 4.7rem;
    margin-top: 5%;
  }

  .btn-1 {
    padding: 0.15rem 0.275rem;
    margin-left: -5.5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  .btn-1:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  }

  .material-icons.md-36 {
    font-size: 1.25rem;
  }

  .btn-2 {
    top: 67%;
    width: 6.85rem;
    height: 2.15rem;
    line-height: 2.15rem;
    font-weight: 800;
    font-size: 1rem;
    margin: 0;
    margin-top: -1.5%;
    letter-spacing: 0.125rem;
  }

  .btn-2 span {
    width: 6.85rem;
    height: 2.15rem;
    box-shadow: inset 0px 1.5px 1.5px 0px rgba(184, 250, 255, 0.5),
      6px 6px 15px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
  }

  .btn-2 span:nth-child(1) {
    box-shadow: inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, .1),
      2px 2px 3px 0px rgba(0, 0, 0, .1);
    transform: rotateX(90deg);
    transform-origin: 50% 50% -19px;
  }

  .btn-2 span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2:hover span:nth-child(1) {
    box-shadow: inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, .1),
      2px 2px 3px 0px rgba(0, 0, 0, .1);
    transform: rotateX(0deg);
  }

  .btn-2:hover span:nth-child(2) {
    box-shadow: inset 0px 1.5px 1.5px 0px rgba(184, 250, 255, 0.5),
      6px 6px 15px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(-82deg);
  }

  .btn-2:active span:nth-child(1) {
    box-shadow: -4px -4px 6px 0 rgba(116, 125, 136, 0.2);
  }

  .title {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1.45rem;
    height: 10%;
  }

  hr.solid {
    margin-top: 13.5%;
  }

  p {
    font-weight: 700;
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
  }

  .label-number-of-characters {
    text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
    margin-top: 6%;
    margin-bottom: 3%;
  }

  .all-characters {
    text-shadow: 0px 2px 3px rgba(24, 24, 24, 0.35);
  }
}

/* /////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    text-shadow: 0px 1.5px 4px rgba(24, 24, 24, 0.5);
  }

  div.container {
    width: 22.5rem;
    height: 7.75rem;
    border: 0.75px solid rgba(255, 255, 255, 0.55);
    border-radius: 1rem;
    box-shadow: 0 1.5px 3.25px rgba(0, 0, 0, 0.4);
  }

  .left-half {
    grid-column: 1;
    width: 11em;
    flex-direction: column;
    align-items: center;
  }

  .right-half {
    grid-column: 2;
    width: 11.55rem;
    height: 102%;
    /* margin: -1px 0px auto; */
    border: 0.75px solid rgba(163, 106, 255, 0.55);
    border-radius: 0 1rem 1rem 0;
  }

  h2 {
    font-size: 0.6rem;
    letter-spacing: 0.25rem;
    padding-top: 9%;
  }

  .nameInput {
    font-size: 1rem;
    border: 0.75px solid rgb(255, 255, 255, 0.65);
    border-radius: 0.75rem;
    width: 8.85rem;
    height: 3rem;
    margin-top: 5%;
  }

  .btn-1 {
    padding: 0.1rem 0.2rem;
    margin-left: -6%;
    box-shadow: 0 1.5px 3.25px rgba(0, 0, 0, 0.25);
  }

  .btn-1:active {
    box-shadow: 0 1.5px 3.25px rgba(0, 0, 0, 0);
  }

  .material-icons.md-36 {
    font-size: 0.75rem;
  }

  .btn-2 {
    top: 67%;
    width: 4.5rem;
    height: 1.4rem;
    line-height: 1.35rem;
    font-weight: 800;
    font-size: 0.65rem;
    margin: 0;
    margin-top: -3.5%;
    letter-spacing: 0.075rem;
  }

  .btn-2 span {
    width: 4.5rem;
    height: 1.4rem;
    box-shadow: inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, 0.1),
      3px 3px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
  }

  .btn-2 span:nth-child(1) {
    box-shadow: inset 0px 0.75px 0.75px 0px rgba(184, 250, 255, 0.5),
      4px 4px 7px 0px rgba(0, 0, 0, .1),
      2px 2px 3px 0px rgba(0, 0, 0, .1);
    transform: rotateX(88deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2 span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2:hover span:nth-child(1) {
    box-shadow: inset 0px 0.75px 0.75px 0px rgba(184, 250, 255, 0.5),
      4px 4px 7px 0px rgba(0, 0, 0, .1),
      2px 2px 3px 0px rgba(0, 0, 0, .1);
    transform: rotateX(0deg);
  }

  .btn-2:hover span:nth-child(2) {
    box-shadow: inset 0px 1px 1px 0px rgba(184, 250, 255, 0.5),
      5px 5px 10px 0px rgba(0, 0, 0, 0.1),
      3px 3px 4px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(-82deg);
  }

  .btn-2:active span:nth-child(1) {
    box-shadow: -3px -3px 5px 0 rgba(116, 125, 136, 0.2);
  }

  .title {
    text-shadow: 0px 1.5px 4px rgba(24, 24, 24, 0.35);
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    height: 10%;
  }

  hr.solid {
    border-top: 0.75px solid rgb(96, 30, 218);
    margin-top: 13.5%;
  }

  p {
    font-size: 0.4rem;
    letter-spacing: 0.025rem;
    line-height: 0.6rem;
  }

  .label-number-of-characters {
    text-shadow: 0px 1px 2px rgba(24, 24, 24, 0.35);
  }

  .all-characters {
    text-shadow: 0px 1px 2px rgba(24, 24, 24, 0.35);
  }

  .show-all-characters {
    line-height: 0.75rem;
  }
}


/* /////////////////////////////////////////////////// */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) */
@media only screen and (max-width: 360px) {
  h1 {
    font-size: 1.1rem;
    text-shadow: 0px 1px 3px rgba(24, 24, 24, 0.5);
  }

  div.container {
    width: 17.5rem;
    height: 6rem;
    border: 0.5px solid rgba(255, 255, 255, 0.55);
    border-radius: 0.5rem;
    box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.4);
  }

  .left-half {
    grid-column: 1;
    width: 8.5rem;
    flex-direction: column;
    align-items: center;
  }

  .right-half {
    grid-column: 2;
    width: 9rem;
    height: 102%;
    margin: -0.5px -1px auto;
    border: 0.75px solid rgba(163, 106, 255, 0.55);
    border-radius: 0 0.5rem 0.5rem 0;
  }

  h2 {
    font-size: 0.5rem;
    letter-spacing: 0.15rem;
    padding-top: 9%;
  }

  .nameInput {
    font-size: 0.75rem;
    border: 0.5px solid rgb(255, 255, 255, 0.65);
    border-radius: 0.5rem;
    width: 6.7rem;
    height: 2.25rem;
    margin-top: 5%;
  }

  .btn-1 {
    padding: 0.075rem 0.175rem;
    margin-left: -6.5%;
    margin-top: 12%;
    box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.25);
  }

  .btn-1:active {
    box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0);
  }

  .material-icons.md-36 {
    font-size: 0.65rem;
  }

  .btn-2 {
    top: 67%;
    width: 3.5rem;
    height: 1.1rem;
    line-height: 1rem;
    font-weight: 800;
    font-size: 0.5rem;
    margin: 0;
    margin-top: -8.5%;
    letter-spacing: 0.05rem;
  }

  .btn-2 span {
    width: 3.5rem;
    height: 1.1rem;
    box-shadow: inset 0px 0.75px 0.75px 0px rgba(184, 250, 255, 0.5),
      3px 3px 6px 0px rgba(0, 0, 0, 0.1),
      2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
  }

  .btn-2 span:nth-child(1) {
    box-shadow: inset 0px 0.5px 0.5px 0px rgba(184, 250, 255, 0.5),
      4px 4px 7px 0px rgba(0, 0, 0, .1),
      1px 1px 2px 0px rgba(0, 0, 0, .1);
    transform: rotateX(88deg);
    transform-origin: 50% 50% -15px;
  }

  .btn-2 span:nth-child(2) {
    transform: rotateX(0deg);
    transform-origin: 50% 50% -20px;
  }

  .btn-2:hover span:nth-child(1) {
    box-shadow: inset 0px 0.5px 0.5px 0px rgba(184, 250, 255, 0.5),
      3px 3px 6px 0px rgba(0, 0, 0, .1),
      1px 1px 2px 0px rgba(0, 0, 0, .1);
    transform: rotateX(0deg);
  }

  .btn-2:hover span:nth-child(2) {
    box-shadow: inset 0px 0.75px 0.75px 0px rgba(184, 250, 255, 0.5),
      3px 3px 6px 0px rgba(0, 0, 0, 0.1),
      2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(-82deg);
  }

  .btn-2:active span:nth-child(1) {
    box-shadow: -2px -2px 4px 0 rgba(116, 125, 136, 0.2);
  }

  .title {
    text-shadow: 0px 1px 2.5px rgba(24, 24, 24, 0.35);
    font-size: 0.55rem;
    letter-spacing: 0.03rem;
    line-height: 0.65rem;
  }

  hr.solid {
    border-top: 0.5px solid rgb(96, 30, 218);
    margin-top: 10%;
  }

  p {
    font-size: 0.35rem;
    letter-spacing: 0.02rem;
    line-height: 0.5rem;
  }

  .label-number-of-characters {
    margin-top: 6%;
    text-shadow: 0px 0.5px 1px rgba(24, 24, 24, 0.35);
  }

  .all-characters {
    text-shadow: 0px 0.5px 1px rgba(24, 24, 24, 0.35);
  }

  .show-all-characters {
    line-height: 0.65rem;
  }
}